apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: mysql-rs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: 471112916406.dkr.ecr.us-east-1.amazonaws.com/clo835-db:latest
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: pass@1234
          ports:
            - containerPort: 3306