apiVersion: v1
kind: Pod
metadata:
  name: web-pod
  namespace: web
  labels:
    app: lime-app
spec:
  containers:
  - name: lime-app
    image: 471112916406.dkr.ecr.us-east-1.amazonaws.com/clo835-app:latest
    env:
    - name: DBHOST
      value: mysql-service.db.svc.cluster.local
    - name: DBPORT
      value: "3306"
    - name: DBUSER
      value: root
    - name: DBPWD
      value: pass@1234
    - name: APP_COLOR
      value: lime
    ports:
    - containerPort: 8080
  imagePullSecrets:
    - name: regcred